<body>
  <section class="sec-home">
    <div class="home-container">
      <div class="home-context">
        <div class="home-content">
          <div class="home-title">
            <h1>
              SEJA <br />
              BEM VINDO!
            </h1>
            <p>
              Somos apaixonados por tecnologia e oferecemos uma variedade de
              produtos de alta qualidade. Nossa equipe está pronta para ajudá-lo
              a encontrar o que você precisa.
            </p>
          </div>
        </div>
      </div>
      <div class="container">
      <!-- <img src="assets/globotech.png" alt="imagem" srcset=""> -->
    </div>
    </div>
  </section>
</body>
