html,
body {
  height: 100% !important;
}

main.cards {
  display: flex;
  padding: 12px;
  color: white;
}

main.cards:hover {
  transform: scale(0.98);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.918);
  border: 4px solid rgb(224, 123, 7);
 }
 
main.cards section.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #282828;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  margin-left: 32px;
  margin: 0 16px 16px 0; /* Espaçamento entre os cartões */

}

main.cards section.card:first-child {
  margin-left: 0;
}

main.cards section.card .icon {
  width: 164px;
  height: 164px;
}

main.cards section.card img {
  width: 100%;
}

main.cards section.card h3 {
  font-size: 100%;
  margin: 16px 0;
}

main.cards section.card span {
  font-weight: 400;
  max-width: 640px;
  font-size: 80%;
  margin-bottom: 16px;
}

h3 {
  color: #ff6000;
  font-family: "Bungee Spice", sans-serif;
}

main.cards section.card.contact {
  box-shadow: 20px 20px 50px -30px #ffffff;
}
main.cards section.card.shop {
  box-shadow: 20px 20px 50px -30px #ffffff;
}
main.cards section.card.about {
  box-shadow: 20px 20px 50px -30px #ffffff;
}
@media screen and (max-width: 720px) {
  main.cards section.card {
    margin-left: 0;
    margin-bottom: 32px;
    flex-grow: 1; /* Adicionado para ocupar todo o espaço disponível */
  }

  main.cards {
    flex-direction: column;
  }

  main.cards section.card:last-child {
    margin-bottom: 0;
  }

  main.cards section.card button {
    font-size: 70%;
  }
  main.cards section.card {
    flex-basis: calc(50% - 16px); /* Dois cartões por linha com espaçamento */
  }
}
