<!DOCTYPE html>
<html lang="en">
  <body>
      
    <div class="cards">
      <section class="card contact">
        <div class="icon">
          <img src="assets/credito.png" alt="Contact us." />
        </div>
        <h3>Escolha como Pagar</h3>
        <span
          >Com a BlitzTech, você tem diversas opções de pagamento. Pague com
          cartão de crédito, boleto bancário ou Pix. Além disso, com o Mercado
          Crédito, você pode parcelar suas compras em até 12 vezes no boleto.
          Aproveite a facilidade e segurança na hora de pagar com a
          BlitzTech.</span
        >
      </section>
      <section class="card shop">
        <div class="icon">
          <img src="assets/entrega.png" alt="Shop here." />
        </div>
        <h3>Frete grátis a partir de R$ 79</h3>
        <span
          >Ao se cadastrar na BlitzTech, você tem frete grátis em milhares de
          produtos. Aproveite essa vantagem exclusiva e faça suas compras com
          comodidade e economia.</span
        >
      </section>
      <section class="card about">
        <div class="icon">
          <img src="assets/carteira.png" alt="About us." />
        </div>
        <h3>Segurança, do início ao fim</h3>
        <span
          >Com a BlitzTech, sua segurança é nossa prioridade. Utilizamos os mais
          avançados protocolos de segurança para garantir que suas informações
          estejam sempre protegidas. Além disso, oferecemos um sistema de
          pagamento seguro para que você possa fazer suas compras com
          tranquilidade.</span
        >
      </section>
    </div>
  </body>
</html>
