.slider {
  margin: 0 auto;
  width: 1400px;
  max-width: 100%;
  text-align: center;
  position: relative;
}
.slider input[type=radio] {
  display: none;
}
.slider label {
  cursor: pointer;
  text-decoration: none;
}
.slides {
  padding: 10px;
  border: 3px solid #db7b0e;
  position: relative;
  z-index: 1;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
#slides .inner {
  display: flex;
  width: 400%;
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  animation: slideAnimation 12s infinite;
}
#slides .slide {
  width: 25%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#slides .slide_1 {
  background: #00171F;
}
#slides .slide_2 {
  background: #003459;
}
#slides .slide_3 {
  background: #007EA7;
}
#slides .slide_4 {
  background: #00A8E8;
}
@keyframes slideAnimation {
  0%, 25% { margin-left: 0; }
  30%, 50% { margin-left: -100%; }
  55%, 75% { margin-left: -200%; }
  80%, 100% { margin-left: -300%; }
}
#controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: .4;
}
#controls label:hover {
  opacity: 1;
}
@media screen and (max-width: 900px) {
  #controls label {
    margin: 0;
  }
  #slides {
    max-width: calc(100% - 140px);
    margin: 0 auto;
  }
}
