<!DOCTYPE html>
<html lang="pt-br">
  <body>
    <header class="header">
      <a href="" class="logo">BlitzTech</a>

      <input type="checkbox" id="check" />
      <label for="check" class="icons">
        <i class="bx bx-menu" id="menu-icon"></i>
        <i class="bx bx-x" id="close-icon"></i>
      </label>
      <nav class="navbar">
        <ul>
          <li class="items"><a href="#" style="--i: 0">Home</a></li>
          <li class="items">
            <a href="#" style="--i: 1">Categoria</a>
            <ul>
              <li><a href="#"> INFORMÁTICA </a></li>
              <li><a href="#">Games</a></li>
              <li><a href="#">Eletrônicos ÁUDIO, TV E VÍDEO</a></li>
              <li><a href="#">  c</a></li>
              <li><a href="#">Games</a></li>
              <li><a href="#">Eletrônicos ÁUDIO, TV E VÍDEO</a></li>
            </ul>
          </li>
          <li class="items"><a href="#" style="--i: 2">SAC</a></li>
          <li class="items"><a href="#" style="--i: 3">Sobre nós</a></li>
          <li class="items">
            <a href="#" style="--i: 3"
              ><i class="bx bxs-cart"></i> Seu carrinho
            </a>
          </li>
          <li class="items">
            <a href="/login" style="--i: 4"
              ><i class="bx bx-user" id="user-icon"></i>User</a
            >
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
