@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&display=swap");

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: saturate(180%) blur(50px);
  width: 100%;
  height: 85%;
  z-index: -1;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: saturate(180%) blur(50px);
  width: 100%;
  height: 85%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}

.header:hover::after {
  left: 100%;
}

ul {
  display: flex;
  z-index: 100;
}

.logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  filter: drop-shadow(rgb(0, 0, 0) 0rem 0rem 10px);
}

img {
  width: 100px;
  z-index: 100;
}

.items {
  list-style: none;
}

.navbar a {
  font-size: 1.15rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.items a {
  position: relative;
  text-decoration: none;
}

.items a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #ff6000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.6s ease-in-out;
  filter: drop-shadow(rgba(255, 255, 255, 0.722) 0rem 0rem 10px);
}

.items a:hover {
  color: #ff6000;
  transition: all 0.6s;
  filter: drop-shadow(rgba(255, 115, 0, 0.722) 0rem 0rem 10px);
}

.items a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* RESPONSIVIDADE */

@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 904px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 85%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: saturate(180%) blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  #check:checked ~ .navbar {
    height: 16.2rem;
  }

  .navbar ul {
    display: block;
  }

  .header {
    padding: 1.3rem 5%; /* Ajuste do padding para telas menores */
  }

  nav.navbar {
    text-align: center; /* Centraliza todo o conteúdo do menu */
  }

  .navbar ul {
    display: inline-block; /* Exibe os itens do menu em linha */
    padding: 0; /* Remove o padding padrão da lista */
  }

  .items {
    display: inline-block; /* Exibe os itens do menu em linha */
    margin: 0 10px; /* Espaçamento entre os itens do menu */
  }

  ul a {
    display: inline-block; /* Permite ajustar a largura e centralizar */
    font-size: 1.1rem;
    margin: 1.5rem 0; /* Margem superior e inferior */
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.3s ease;
    width: fit-content; /* Ajusta a largura do link de acordo com o conteúdo */
    position: relative; /* Define o posicionamento relativo para que o ::before fique relativo a este elemento */
  }

  ul a::before {
    content: "";
    position: absolute;
    width: 100%; /* Largura do sublinhado igual à largura do texto */
    height: 1px; /* Altura reduzida do sublinhado */
    bottom: -1px; /* Posição ajustada do sublinhado */
    background-color: white;
    visibility: hidden;
    transition: width 0.3s ease-in-out;
  }

  ul a:hover::before {
    visibility: visible;
    width: 100%; /* Largura do sublinhado igual à largura do texto */
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  #check:checked ~ .navbar {
    height: 17rem;
  }
}
