@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  background-color: #f4f4f4;
}

/* https://static.vecteezy.com/ti/vetor-gratis/p1/1849553-fundo-ouro-moderno-vetor.jpg */
/* https://image.freepik.com/free-vector/orange-binary-cyber-circuit-future-technology-concept-background_42077-3783.jpg */

::-webkit-scrollbar {
  width: 0.7rem;
  background-color: #2c1004;
}

::-webkit-scrollbar-thumb {
  background-color: #db470b;
  border-radius: 5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #882d09;
}
