<!DOCTYPE html>
<html lang="en">
  <body>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 square">
            <div class="brand">Empresa</div>
            <p class="about">
              Na BlitzTech, você encontra os melhores produtos de eletrônicos e
              TI, desde smartphones e notebooks até componentes de computador e
              periféricos. Oferecemos variedade, qualidade, preços competitivos
              e um atendimento ao cliente excepcional. Compre com segurança e
              receba seus produtos rapidamente em casa.
            </p>
          </div>
          <div class="col-lg-2 col-md-6 square">
            <div class="heading">Teste</div>
            <ul class="p-list">
              <li>Teste 1</li>
              <li>Teste 2</li>
              <li>Teste 3</li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 square">
            <div class="heading">Links</div>
            <ul class="l-list">
              <li>Home</li>
              <li>Sobre nós</li>
              <li>Serviços</li>
              <li>Contato</li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 square">
            <div class="heading">Nosso Contato</div>
            <ul class="contact">
              <li><i class="fa-solid fa-house"></i> www.blitztech.com.br</li>
              <li>
                <i class="fa-solid fa-envelope"></i>
                blitztech&commat;hotmail.com
              </li>
              <li><i class="fa fa-phone"></i> +55 (16) 99123-4567</li>
            </ul>
          </div>
        </div>
        <ul class="social-media">
          <li><i class="fa-brands fa-facebook"></i></li>
          <li><i class="fa-brands fa-instagram"></i></li>
          <li><i class="fa-brands fa-twitter"></i></li>
        </ul>
      </div>
      <div class="copy">© Copyright & Reserved 2024. <a>BlitzTech</a></div>
    </footer>
  </body>
</html>
