.carouse_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 20px 5px #ffffff;
  margin: 0;
  padding: 0;
  margin-top: 16px;
  width: 1200px;
  max-width: 1000px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}
